{% extends 'ordersapp/base.html' %}
{% load static %}

{% block container %}
   <div>
       <div>Уверены, что хотите удалить?</div>
       {% include 'ordersapp/includes/inc_order_summary.html' %}
       <form action="{% url 'order:order_delete' object.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="удалить">
       </form>
       <button class="btn btn-success">
           <a href="{% url 'order:orders_list' %}">отмена</a>
       </button>
   </div>
{% endblock %}
