{% load static %}

<div class="catalog">
    <ul class="menu">
        <li>
            <a href="{% url 'main:category' 0 %}"
               class="menu__link {% if request.resolver_match.kwargs.pk == '0' %}menu__link_active{% endif %}">
                все
            </a>
        </li>
        {% for category in catalog_menu %}
            {% if category.is_active %}
                <li>
                    <a href="{% url 'main:category' category.pk %}"
                        class="menu__link {% if request.resolver_match.kwargs.pk|add:0 == category.pk %}menu__link_active{% endif %}">
                        {{ category.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
