<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page_title|title }}</title>
        {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block container %}
            {% endblock %}

            <footer class="footer">
                <p class="footer_text">&copy; Все права защищены 2019</p>
            </footer>
        </div>
    </body>
</html>
